node_modules
.env
Playground/Three.JS/Weal Yasmina Course/.parcel-cache/data.mdb
Playground/Three.JS/Weal Yasmina Course/dist/index.e82f28a0.js.map
Playground/Three.JS/Weal Yasmina Course/dist/index.e82f28a0.js
