.browse-subtype{
    &__title {
        display: flex;
        background-color: var(--main-color);
        color: #fff;
        justify-content: center;
        position: relative;
        h2 {
            margin: 0;
            padding: 0.35em 0.3em;
            width: 100%;
            text-align: center;
        }
        &__icon {
            position: absolute;
            left: 5%;
            top: 15%;
        }
    }
}