.form {
    background-color: #F0F2F5;
    height: 7vh;
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    input[type=text] {
        outline: none;
        border: none;
        width: 80vw;
        height: 90%;
        border-radius: .75em;
        padding: 0 1.5em;
        font-size: 1.2rem;
    }
    &__button {
        cursor: pointer;
        outline: none;
        border: none;
        background: transparent;
    }
}